.post-title {
  font-size: 2rem;
  font-weight: bold;
}

.post-content {
  margin-top: 2rem;
}

.post-date svg {
  vertical-align: text-top;
}

.post-date {
  margin-bottom: 1rem;
}

.post-tags {
  margin-top: 1.5rem;
}
